 
            body{
              background:rgba(22, 67, 165, 0.918);
            max-width: 600px;
            max-height: 600px;
            padding: 0px 265px;
            justify-content: center;
  align-items: center;
 
            font-size: medium;
            font-family: 'Poppins',sans-serif;
             text-align: center;}   
            
        
             